:root {
    --primaryColor: #FCFCFC;
    --mainWhite: #FFFFFF;
    --mainColor: #373737,;
    --mainSpace: 0.07rem;
    --mainTransation: all 0.3s linear;
}
 
.footer {
    width: 100%;
    background-color:#373737;
    text-align: center;
    height: 200px; 
  }
  
  p {
    padding: 100px;
    color: #fff;
  }
  
  .footer a {
    text-decoration: none; 
  }
  