:root {
  --primaryColor: #FCFCFC;
  --mainWhite: #FFFFFF;
  --mainColor: #373737;
  --mainGreen: #8DC63F;
  --mainSpace: 0.07rem;
  --mainTransation: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ----NavBar ----*/

.navBar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
 
.navBar-center {
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    letter-spacing: var(--mainSpace);
    list-style-type: none;
}

.navbar-dark .navbar-toggler{
  margin: 10px;
}

.navbar-dark .navbar-toggler-icon{
  padding: 20px;
}

.bgray{
  background-color: #373737;
}

ol, ul {
    padding-left:0;
}
li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 2px;
}

li a:hover:not(.active) {
  background-color: #8DC63F; 
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.active {
  background-color: #8DC63F;
}

.top-color{
  color: #fff;
}



