 <!-- NavBar -->
 <nav class="navbar navbar-expand-lg sticky-top bgray navbar-dark">
  <div class="container-fluid ">
    <a class="navbar-brand top-color" routerLink="#"></a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navBar-center navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active"><a routerLink="top-games">Top Games</a></li>
        <li routerLinkActive="active"><a routerLink ="new-games">New Games</a></li>
        <li routerLinkActive="active"><a routerLink ="slots">Slots</a></li>
        <li routerLinkActive="active"><a routerLink ="jackpots">Jackpots</a></li>
        <li routerLinkActive="active"><a routerLink ="live">Live</a></li>
        <li routerLinkActive="active"><a routerLink ="blackjack">Blackjack</a></li>
        <li routerLinkActive="active"><a routerLink ="roulette">Roulette</a></li>
        <li routerLinkActive="active"><a routerLink ="table">Table</a></li>
        <li routerLinkActive="active"><a routerLink ="poker">Poker</a></li>
        <li routerLinkActive="active"><a routerLink ="other">Other</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
  <!-- End of NavBar -->
