/* ----- card-content ----- */

.jack-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    padding: 0 50px 15px 50px;
    
  }
  
  .card-l {
    display: flex;
    border: none;
    margin: 16px 0 16px 10px;
    width: 17rem;
    height: 10rem;
  }
  