<div class = "jack-content" *ngIf="jackPortsInfo | async as jackPortsInfo">
    <div *ngFor="let jackport of jackPortsInfo">
        <div class="card mx-3 my-3" style="width: 18rem;">
            <div class="card-header">
              {{jackport.game}}
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{jackport.amount}}</li>
            </ul>
          </div> 
    </div>
         
</div>

