
:root {
    --primaryColor: #FCFCFC;
    --mainWhite: #FFFFFF;
    --mainGreen: #8DC63F;
    --mainColor: #373737,;
    --mainSpace: 0.07rem;
    --mainTransation: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainColor);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 50px 15px 50px;
    
  }
  
  .card-img {
    border-radius: 20px;
    object-fit: cover;
    width: 14rem;
    height: 10rem;
    text-align: center;
  }
  .category {
    display: flex;
    justify-content: space-around;
    font-size: 0.01px;
  }
  .card {
    border: none;
    margin: 10px 0 10px 10px;
    width: 14rem;
    height: 10rem;
  }
  
  /* ---- hover button ---*/
  
  .button {
    position: absolute;
      width: 70px;
      left: 40%;
      top: 40%;
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
  }
  
  .button a {
      width: 100px;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      color: white;
      border-radius: 10px;
      border: solid 1px white;
      z-index: 1
  }
  
  .card:hover .button {
    opacity: 1;
  }
  
  /* ---- Corner ribbon ---*/
  .box {
    width:14rem;
    height:10rem;
    position:relative;
  }
  .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px; 
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    color: #fff; 
    text-transform: uppercase; 
    text-align: center;
    font-weight: bold; 
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    width: 100px; 
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
  }
  
