
<div class = "game-content">
    <div *ngFor="let game of games">
        <div  class="card box" id = {{game.id}} >
            <div class="ribbon"><span class="category">{{game.category}}</span></div>
            <div class="button"><a routerLink="#">{{game.play}}</a></div>
            <img src={{game.image}} class="card-img" alt="Game name" data-toggle="tooltip"
             data-placement="center"  title={{game.name}} />
          
        </div> 
    </div> 
</div>



